<div class="container mt-5">

    <div class="d-flex justify-content-center">
        <h3 class="align-items-center">PROPERTY MANAGEMENT SYSTEM</h3>
    </div>

    <div class="row">
        <div class="col mt-3 d-flex justify-content-between">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success" (click)="addProperty()">ADD PROPERTY</button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            </div>
        </div>

    </div>

    <div>

        <div class="mat-elevation-z8 mt-4">
            <table mat-table [dataSource]="propertyData">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>

                <!-- Size Column -->
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                    <td mat-cell *matCellDef="let row"> {{row.size}} </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                    <td mat-cell *matCellDef="let row; let i = index"> <button type="button" class="btn btn-danger" (click)="deleteProperty(row)">DELETE</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>

            </table>
        </div>
    </div>
</div>